#ContainerRockPaperScissorsButton {
    transition: all .25s;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
}
#ContainerRockPaperScissorsButton:hover {
    box-shadow: 4px 4px 12px black;
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
}

#ContainerRockPaperScissorsButton:active {
    background-color: #c8c8c8;
}

#ContainerRetry {
    width: 32px;
    height: auto;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}

.putarAnimation {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

#AlertSvg {
    filter: invert(23%) sepia(74%) saturate(7283%) hue-rotate(356deg) brightness(101%) contrast(121%);
}

.ContainerWarnings {
    position: fixed;
    top: 32px;
    right: 16px;
    opacity: 0;
    z-index: 200;
    transform: translateY(0);
    /* overflow: hidden; */
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

#Alerts {
    /* cursor: grab; */
    width: 460px;
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    color: #82181a ;
    background-color: #fef2f2 ;
    border-color: oklch(88.5% 0.062 18.334);
    border-radius: 6px;
    transition: transform 0.2s ease-out;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-transition: transform 0.2s ease-out;
    -moz-transition: transform 0.2s ease-out;
    -ms-transition: transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
}

.ShowAlert {
    opacity: 1;
    transform: translateY(-9px);
    -webkit-transform: translateY(-9px);
    -moz-transform: translateY(-9px);
    -ms-transform: translateY(-9px);
    -o-transform: translateY(-9px);
}