* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#ShowColomn {
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 102;
}

#Show {
    cursor: pointer;
    width: 40px;
    padding: 12px;
    font-size: 24px;
    background: none;
    border: none;
}

#Container {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    transition: left 0.3s ease;
}

#Navbar {
    position: absolute;
    padding-left: 60px;
    padding-right: 60px;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #1e1e1e;
    z-index: 100;
}

.ContainerClose {
    cursor: pointer;
    position: absolute;
    left: 200px;
    padding: 6px;
}

#Close {
    cursor: pointer;
    color: hsl(0, 100%, 50%);
    background: none;
    font-size: 24px;
    border: none;
}

.Judul {
    margin-top: 50px;
    margin-bottom: 10px;
    color: #fcfcfc;
}

.Underline::after {
    position: absolute;
    right: 0px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #f5f5f5;
}

#ListItems {
    position: absolute;
    top: 100px;
    right: 130px;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;    
    color: #e0e0e0;
    list-style: none;
    font-weight: bold;
    font-size: 18px;
    gap: 16px;
}

.Home {
    border-bottom: 1px solid rgb(255, 255, 255);
}

#ContainerCommand {
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Output {
    position: relative;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 373px;
    background-color: #212529;
    border: 1px solid grey;
    z-index: 10;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
}

#ContainerInput {
    position: absolute;
    top: 415px;
    z-index: 10;
}

.ContainerPlay {
    position: absolute;
    top: 0;
    right: 50px;
}

.ContainerClear {
    position: absolute;
    top: 0;
    left: 0;    
}

#ChatCommandStores {
    position: absolute;
    left: 5px;
    top: 45px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
}

#Plays {
    position: fixed;
    cursor: pointer;
    width: 50px;
    height: 35px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: 24px;
    background: hsl(120, 86%, 47%);
    border: none;
    z-index: 51;
    border-radius: 0 0 0 4px;
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    -ms-border-radius: 0 0 0 4px;
    -o-border-radius: 0 0 0 4px;
}

#Clear {
    position: fixed;
    cursor: pointer;
    width: 50px;
    height: 35px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: 24px;
    background: hsl(0, 100%, 50%);
    border: none;
    z-index: 50;
    border-radius: 4px 0 4px 0;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    -ms-border-radius: 4px 0 4px 0;
    -o-border-radius: 4px 0 4px 0;
}

#CommandPrompt {
    padding: 4px;
    width: 400px;
    color: #FFFFFF;
    background-color: #560bad;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
}

#CommandPrompt::placeholder {
    color: #FFFFFF;
}

#CommandPrompt:active {
    outline: none;
}

#ReplyChats {
    color: #FFFFFF;    
    font-size: 15;
    font-weight: bold;
}